.contenedor-informativo {

    .informacion{
        border-radius: 1.8rem;
        padding: 1rem;
        background-color: darken($naranja, 16);
        
        p{
            font-size: 1.5rem;
        }

    }
    .img-blog{
        margin-bottom: 2rem;
        
        .img-pasteleria{
            width: 20rem;
            border-radius: 3rem;
            
        }
        @mixin telefono{
            .img-pasteleria{
                width: 15rem;
            }
        }
    }
    border-radius: 3.8rem;
    padding: 4rem;
    background-color: darken($negroClaro, 3);
    margin-top: 3rem;
    text-align: center;
    display: block;

}