html {
    font-size: 62.5%;
    box-sizing: border-box;
    
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: $fuentePrincipal;
    background-color:$negroClaro;
    color: $blanco;

    &.fijar-body {
        overflow: hidden;
    }

}


p {
    font-size: 2rem;
    text-align: center;
    @media(max-width: 460px){
        text-align: left;
        font-size: 1.3rem;
    }
    @media(max-width: 768px){
        text-align: center;
        font-size: 1.7rem;
    }
    
}
.contenedor {
    max-width: 120rem;
    width: 100%;
    margin: 0 auto;
}
a {
    font-size: 2rem;
    text-decoration: none;
    @media(max-width: 480px){
        font-size: 1.3rem;
    }
    @media(max-width: 768px){
        font-size: 1.5rem;
    }
}
img {
    max-width: 100%;
}
h1, h2, h3 {
    margin: 0;
    text-align: center;

}
h1 {
    font-size: 4rem;
}
h2 {
    font-size: 3.6rem;
}

h3 {
    font-size: 2.5rem;
}
 .titulo {
     padding: 2rem;
     background-color: darken($naranja , 4);
     border-radius: 1rem;
 }