$fuentePrincipal : 'Play', sans-serif;

// Colores
$naranja: #f85422d5;
$amarillo: #ffee07;
$negro: #000;
$negroClaro: rgba(0, 0, 0, 0.849);
$blanco: #FFF;


// Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1200px;

// Separaciones
$separacion: 5rem;